html 
{
	font-family: Arial; 
	display: inline-block; 
	text-align: center;
}

p 
{  
	font-size: 1.2rem;
}

body 
{  
	margin: 0;
	background-color: var(--background-color);
}

div 
{  
	color: var(--text-color);
}

h1, h2, h3, h4, h5, h6
{  
	color: var(--text-color);
}

#Heading
{
	position: sticky;
	top: 0;
	font-size: 40px;
	background-color: var(--accent1-color);
	color: var(--accent-text-color);
	z-index: 10;	/* use a high value here. Otherwise the charts are displayed on top */
}

#SubHeading
{
	font-size: 30px;
	background-color: var(--accent1-color);
	color: var(--accent-text-color);
	z-index: 10;	/* use a high value here. Otherwise the charts are displayed on top */
}

.card 
{ 
	background-color: var(--background-color); 
	box-shadow: 2px 2px 12px 1px var(--box-shadow-color);
	color: var(--text-color);
}

/* ----------------------------------------------------------------------------------------- */

:root 
{
	--background-color: #F7F8F8;
	--text-color: #121416d8; 			/*rgba*/ 
	--accent1-color: #228b22;
	--accent-text-color: #F7F8F8;
	--box-shadow-color: #8C8C8C80;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark)
{
	:root
	{
		--background-color: #212a2e;
		--text-color: #F7F8F8;
		--accent1-color: #228b22;
		--accent-text-color: #F7F8F8;
		--box-shadow-color: #8C8C8C80; 
	}
}


/* ----------------------------------------------------------------------------------------- */


.update-container
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
  margin: auto;
  box-sizing: border-box;
}

.update-columns-container
{
  display: flex;
  gap: 20px;
}

.update-common-card
{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.update-part1-card, .update-part2-card
{
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

progress
{
  margin-top: 10px;
  width: 95%;
  height: 16px;
  appearance: none;
}

progress::-webkit-progress-bar
{
  background: var(--box-shadow-color);
  border-radius: 5px;
}

progress::-webkit-progress-value
{
  background: var(--accent1-color);
  border-radius: 5px;
}